spring:
    datasource:
        driverClassName: com.mysql.cj.jdbc.Driver
        password:
        url: jdbc:mysql://localhost:3306/mobilelele?useSSL=false&createDatabaseIfNotExist=true
        username: root
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQL8Dialect
                format_sql: true
    mvc:
        hiddenmethod:
            filter:
                enabled: true


mail:
  host: "localhost"
  port: 1025
  username: "mobilele@mobilele.com"
  password: ""
