<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/navbar::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar">Navbar</div>

<div class="container">
    <h2 class="text-center text-white">Register User</h2>
    <form
            th:action="@{/users/register}"
            th:method="post"
            th:object="${userModel}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="firstName" class="text-white font-weight-bold">First Name</label>
                <input
                        id="firstName"
                        th:field="*{firstName}"
                        th:errorclass="is-invalid"
                        type="text"
                        class="form-control"
                        placeholder="First name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    First name is required and should be between 4 and 20 symbols.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="lastName" class="text-white font-weight-bold">Last Name</label>
                <input id="lastName"
                       th:field="*{lastName}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control"
                       placeholder="Last Name"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Last name is required and should be between 4 and 20 symbols.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="username" class="text-white font-weight-bold">Username</label>
                <input id="username"
                       th:field="*{username}"
                       th:errorclass="is-invalid"
                       type="text" class="form-control"
                       placeholder="Username"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Username should be free and should be between 4 and 20 symbols.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="password" class="text-white font-weight-bold">Password</label>
                <input
                        id="password"
                        type="password"
                        th:field="*{password}"
                        th:errorclass="is-invalid"
                        class="form-control"
                        placeholder="Password"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Password is required and should be between 4 and 20 symbols.
                </p>
            </div>

            <div class="form-group col-md-6 mb-3">
                <label for="confirmPassword" class="text-white font-weight-bold">ConfirmPassword</label>
                <input
                        id="confirmPassword"
                        type="password"
                        th:field="*{confirmPassword}"
                        th:errorclass="is-invalid"
                        class="form-control"
                        placeholder="ConfirmPassword"/>
                <p class="invalid-feedback errors alert alert-danger">
                    ConfirmPassword is required and should be between 4 and 20 symbols.
                </p>
            </div>

        </div>

        <p th:unless="${passMatch}" class="errors alert alert-danger">
            Password and ConfirmPassword don't match!
        </p>


        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Create account"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
