<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MobiLeLeLe</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar :: navbar">Navbar</div>

<div class="container-fluid">
    <h2 class="text-center text-white mt-5">Details</h2>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div
                class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">

            <div class="card-body pb-1">
                <h5 class="card-title"
                    th:text="*{offer.brand} + ' '  + *{offer.model} + ' '  + *{offer.year}">
                    Offer year Brand name Model name
                </h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item">
                    <div class="card-text">Mileage: <span th:text="*{offer.mileage}"></span></div>
                    <div class="card-text">Price: <span th:text="*{offer.price}"></span></div>
                    <div class="card-text">Engine: <span th:text="*{offer.engine}"></span></div>
                    <div class="card-text">Transmission type: <span th:text="*{offer.transmission}"></span></div>
                    <div class="card-text">Offer created: <span th:text="*{offer.created}"></span></div>
                    <div class="card-text">Offer modified: <span th:text="*{offer.modified}"></span></div>
                    <div class="card-text"><span th:text="*{offer.seller}">Seller - First and Last name</span></div>
                </li>
            </ul>
            <div class="card-body">
                <div class="row">
                    <form th:action="@{/offers/{id} (id = *{offer.id})}" th:method="update">
                        <input type="button" class="btn btn-link" value="Update"/>
                    </form>

                <form th:action="@{/offers/{id} (id = *{offer.id})}" th:method="delete">
                    <input type="submit" class="btn btn-link" value="Delete"/>
                </form>
                </div>
            </div>
        </div>
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img th:src="*{offer.imageUrl}" class="card-img-top" alt="Car image">
        </div>
    </div>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
