<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/navbar::head"></head>

<body>
<div th:replace="fragments/navbar :: navbar">Navbar</div>

<div class="container-fluid">
    <h5 class="text-center text-white mt-5">Welcome to MobiLeLeLe,
        <span th:if="${@currentUser.isLoggedIn()}" th:text="${@currentUser.userName}"></span>
        <span th:unless="${@currentUser.isLoggedIn()}">Anonymous</span>!
    </h5>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
