<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/navbar::head"></head>

<body>
<div th:replace="fragments/navbar :: navbar">Navbar</div>

<div class="container-fluid">
    <h5 class="text-center text-white mt-5">
        Welcome to MobiLeLeLe,
        <span
                sec:authorize="isAuthenticated()"
                th:text="${#authentication.principal.fullName}">
        </span>

        <span sec:authorize="!isAuthenticated()">
            Anonymous
        </span>
    </h5>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
