<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/navbar::head"></head>

<body>

<div th:replace="fragments/navbar :: navbar">Navbar</div>

<div class="container">
    <h2 class="text-center text-white">Update Offer</h2>
    <form th:method="patch"
          th:action="@{/offers/{id}/update(id = *{id})}"
          th:object="${offerModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input id="price"
                       th:field="*{price}"
                       th:error-class="is-invalid"
                       type="number"
                       step="100" class="form-control"
                       placeholder="Suggested price"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Suggested price is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="mileage" class="text-white font-weight-bold">Mileage</label>
                <input id="mileage"
                       th:field="*{mileage}"
                       th:error-class="is-invalid"
                       type="number" step="1000"
                       class="form-control"
                       placeholder="Mileage in kilometers"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Mileage in kilometers is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="engine">Engine</label>
                <select id="engine" name="engine"
                        th:error-class="is-invalid"
                        class="form-control">
                    <option
                            th:each="anEngine : ${engines}"
                            th:value="${anEngine}"
                            th:text="${anEngine}"
                            th:selected="${anEngine} == *{engine}"
                    > Engine type
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Engine type is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="transmission">Transmission</label>
                <select id="transmission" name="transmission"
                        th:error-class="is-invalid"
                        class="form-control">
                    <option
                            th:each="trans : ${transmissions}"
                            th:value="${trans}"
                            th:text="${trans}"
                            th:selected="${trans} == *{transmission}"
                    > Transmission type
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Transmission type is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input id="year" type="number"
                       th:field="*{year}"
                       th:error-class="is-invalid"
                       min="1900" max="2099" step="1" class="form-control"
                       placeholder="Manufacturing year"/>
                <p class="invalid-feedback errors alert alert-danger">
                    Manufacturing year is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea id="description" type="textarea"
                      th:field="*{description}"
                      th:error-class="is-invalid"
                      class="form-control" rows="3"
                      placeholder="Description"></textarea>
            <p class="invalid-feedback errors alert alert-danger">
                Description is required.
            </p>
        </div>
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
            <input id="imageUrl" type="url"
                   th:field="*{imageUrl}"
                   th:error-class="is-invalid"
                   class="form-control"
                   placeholder="Put vehicle image URL here">
            <p class="invalid-feedback errors alert alert-danger">
                Vehicle image URL is required.
            </p>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Update Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
